<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JinShuXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,248},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>beiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,459}}</string>
                <key>sourceSize</key>
                <string>{390,459}</string>
            </dict>
            <key>dengJiBeiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,342},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>fangYuBeiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,463},{155,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,42}}</string>
                <key>sourceSize</key>
                <string>{155,42}</string>
            </dict>
            <key>gongJiBeiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,463},{155,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,42}}</string>
                <key>sourceSize</key>
                <string>{155,42}</string>
            </dict>
            <key>huoShuXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,316},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>jiNengShuoMing.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>jiaoSeBeiJIngShuoMing.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{338,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,130}}</string>
                <key>sourceSize</key>
                <string>{338,130}</string>
            </dict>
            <key>mingChengBeiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,342},{163,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,53}}</string>
                <key>sourceSize</key>
                <string>{163,53}</string>
            </dict>
            <key>muShuXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,173},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>shengMimgBeiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{155,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,42}}</string>
                <key>sourceSize</key>
                <string>{155,42}</string>
            </dict>
            <key>shuSshuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,173},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>tuShuXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,248},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chakanPre.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1378da92f421175bf7ad8074bb55c85$</string>
            <key>textureFileName</key>
            <string>chakanPre.png</string>
        </dict>
    </dict>
</plist>
