<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,827},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
            <key>chakanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,602},{379,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{379,138}}</string>
                <key>sourceSize</key>
                <string>{425,178}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,387},{227,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,101}}</string>
                <key>sourceSize</key>
                <string>{227,101}</string>
            </dict>
            <key>fanhuixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,490},{216,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{216,87}}</string>
                <key>sourceSize</key>
                <string>{242,115}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,602},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>jueSeJieMianAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,168}}</string>
                <key>sourceSize</key>
                <string>{432,168}</string>
            </dict>
            <key>mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,321},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>tisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,647},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
            <key>tishengda.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{383,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{383,138}}</string>
                <key>sourceSize</key>
                <string>{425,178}</string>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{317,429}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{317,429}}</string>
                <key>sourceSize</key>
                <string>{417,449}</string>
            </dict>
            <key>zhuanhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,579},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
            <key>zhuanhuanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,647},{375,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{375,138}}</string>
                <key>sourceSize</key>
                <string>{425,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juese.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac986c3d52f956f6c8ef8388c952d39$</string>
            <key>textureFileName</key>
            <string>juese.png</string>
        </dict>
    </dict>
</plist>
