<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1453},{815,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{815,320}}</string>
                <key>sourceSize</key>
                <string>{815,320}</string>
            </dict>
            <key>chiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{822,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,323}}</string>
                <key>sourceSize</key>
                <string>{822,323}</string>
            </dict>
            <key>chu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,203},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>chuyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1775},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,144},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>ciyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1953},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1775},{227,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,101}}</string>
                <key>sourceSize</key>
                <string>{227,101}</string>
            </dict>
            <key>fanhuixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1775},{216,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{216,87}}</string>
                <key>sourceSize</key>
                <string>{242,115}</string>
            </dict>
            <key>juqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,2},{373,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,140}}</string>
                <key>sourceSize</key>
                <string>{373,140}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,144},{331,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,490}}</string>
                <key>sourceSize</key>
                <string>{331,490}</string>
            </dict>
            <key>motiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,636},{267,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,76}}</string>
                <key>sourceSize</key>
                <string>{267,76}</string>
            </dict>
            <key>qilin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{820,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,321}}</string>
                <key>sourceSize</key>
                <string>{820,321}</string>
            </dict>
            <key>qinglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,327},{819,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,320}}</string>
                <key>sourceSize</key>
                <string>{819,320}</string>
            </dict>
            <key>xingtian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{823,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{823,322}}</string>
                <key>sourceSize</key>
                <string>{823,322}</string>
            </dict>
            <key>xuanwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,649},{806,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,318}}</string>
                <key>sourceSize</key>
                <string>{806,318}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,269},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>zhongyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1866},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>zhuque.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,636},{815,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{815,320}}</string>
                <key>sourceSize</key>
                <string>{815,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juqing.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e52d9a63e24f1b0a21af8e0a8ddf67c3$</string>
            <key>textureFileName</key>
            <string>juqing.png</string>
        </dict>
    </dict>
</plist>
