<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1110,1112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1110,1112}}</string>
                <key>sourceSize</key>
                <string>{1110,1112}</string>
            </dict>
            <key>duizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1849},{177,177}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{177,177}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>duizhanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1393},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1670},{177,177}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{177,177}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>jueseliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1116},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>juqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1670},{187,187}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{187,187}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>juqingliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>kapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1859},{177,177}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{177,177}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>kapailiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1859},{177,177}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{177,177}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>shezhiliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{275,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,275}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MUNE.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2788cc4193ea3abb1ac48d5bea619da7$</string>
            <key>textureFileName</key>
            <string>MUNE.png</string>
        </dict>
    </dict>
</plist>
