<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,295},{626,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,628}}</string>
                <key>sourceSize</key>
                <string>{626,628}</string>
            </dict>
            <key>hongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{887,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,291}}</string>
                <key>sourceSize</key>
                <string>{887,291}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,778},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,385},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1048,1553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1048,1553}}</string>
                <key>sourceSize</key>
                <string>{1048,1553}</string>
            </dict>
            <key>mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1557},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{471,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,269}}</string>
                <key>sourceSize</key>
                <string>{471,269}</string>
            </dict>
            <key>shui.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1557},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1557},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1950},{280,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,72}}</string>
                <key>sourceSize</key>
                <string>{280,72}</string>
            </dict>
            <key>youhuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,2},{381,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,25}}</string>
                <key>sourceSize</key>
                <string>{381,25}</string>
            </dict>
            <key>zuohuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1950},{381,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,25}}</string>
                <key>sourceSize</key>
                <string>{381,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ceee8f564120893bb1ceeab3ea0ca54$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
