<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihuTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1273},{178,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,203}}</string>
                <key>sourceSize</key>
                <string>{178,203}</string>
            </dict>
            <key>chiyouTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,813},{269,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,330}}</string>
                <key>sourceSize</key>
                <string>{269,330}</string>
            </dict>
            <key>duihuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1017,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1017,325}}</string>
                <key>sourceSize</key>
                <string>{1017,325}</string>
            </dict>
            <key>fuxiTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{326,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,316}}</string>
                <key>sourceSize</key>
                <string>{326,316}</string>
            </dict>
            <key>jintianTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,544},{198,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,280}}</string>
                <key>sourceSize</key>
                <string>{198,280}</string>
            </dict>
            <key>pangbaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{974,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{974,213}}</string>
                <key>sourceSize</key>
                <string>{974,213}</string>
            </dict>
            <key>qilinTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1163},{187,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,198}}</string>
                <key>sourceSize</key>
                <string>{187,198}</string>
            </dict>
            <key>qinglongTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,988},{173,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,221}}</string>
                <key>sourceSize</key>
                <string>{173,221}</string>
            </dict>
            <key>shennongTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,744},{270,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,242}}</string>
                <key>sourceSize</key>
                <string>{270,242}</string>
            </dict>
            <key>xingtianTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{220,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,328}}</string>
                <key>sourceSize</key>
                <string>{220,328}</string>
            </dict>
            <key>xuanwuTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1084},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,187}}</string>
                <key>sourceSize</key>
                <string>{214,187}</string>
            </dict>
            <key>xuanyuanTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,544},{267,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,335}}</string>
                <key>sourceSize</key>
                <string>{267,335}</string>
            </dict>
            <key>zhuanxuTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{387,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,279}}</string>
                <key>sourceSize</key>
                <string>{387,279}</string>
            </dict>
            <key>zhuqueTX.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1084},{166,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,210}}</string>
                <key>sourceSize</key>
                <string>{166,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juqingPre.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8bb47d2752c76aac447fbc8d6936ecf$</string>
            <key>textureFileName</key>
            <string>juqingPre.png</string>
        </dict>
    </dict>
</plist>
