<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TSwenzitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{400,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,110}}</string>
                <key>sourceSize</key>
                <string>{400,110}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,838},{227,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,101}}</string>
                <key>sourceSize</key>
                <string>{227,101}</string>
            </dict>
            <key>fanhuixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,395},{216,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{216,87}}</string>
                <key>sourceSize</key>
                <string>{242,115}</string>
            </dict>
            <key>jiahao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,685},{69,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,101},{69,70}}</string>
                <key>sourceSize</key>
                <string>{189,266}</string>
            </dict>
            <key>jiahao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,613},{69,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,101},{69,70}}</string>
                <key>sourceSize</key>
                <string>{189,266}</string>
            </dict>
            <key>jinShuXing.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{279,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,391}}</string>
                <key>sourceSize</key>
                <string>{279,391}</string>
            </dict>
            <key>kapaikongwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,395},{161,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,226}}</string>
                <key>sourceSize</key>
                <string>{161,226}</string>
            </dict>
            <key>queRenTiSheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,623},{369,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,122}}</string>
                <key>sourceSize</key>
                <string>{369,122}</string>
            </dict>
            <key>queRenTiShengDa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{370,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{370,122}}</string>
                <key>sourceSize</key>
                <string>{408,168}</string>
            </dict>
            <key>tiShengJieMianAnNiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,404},{432,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,168}}</string>
                <key>sourceSize</key>
                <string>{432,168}</string>
            </dict>
            <key>wenzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,71}}</string>
                <key>sourceSize</key>
                <string>{640,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tishengPre.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df65a50b286a70f79dbcf5419cc794be$</string>
            <key>textureFileName</key>
            <string>tishengPre.png</string>
        </dict>
    </dict>
</plist>
