<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijingjiemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,1920}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>yangPiZhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{1074,1534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,1534}}</string>
                <key>sourceSize</key>
                <string>{1074,1534}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BG_YPZ.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46f54c6b92b6c6d6462059e8d19d2c29$</string>
            <key>textureFileName</key>
            <string>BG_YPZ.png</string>
        </dict>
    </dict>
</plist>
