<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{827,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,338}}</string>
                <key>sourceSize</key>
                <string>{827,338}</string>
            </dict>
            <key>suolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{846,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{846,306}}</string>
                <key>sourceSize</key>
                <string>{848,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>suolian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e696b4e5b2d75d7ca03870e1800289aa$</string>
            <key>textureFileName</key>
            <string>suolian.png</string>
        </dict>
    </dict>
</plist>
