<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1162},{165,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>sourceSize</key>
                <string>{165,229}</string>
            </dict>
            <key>baihu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{166,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,230}}</string>
                <key>sourceSize</key>
                <string>{166,230}</string>
            </dict>
            <key>changgu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1857},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>changgui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1839},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>changyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{165,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,228}}</string>
                <key>sourceSize</key>
                <string>{165,228}</string>
            </dict>
            <key>chanjing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,460},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>chiyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,231},{163,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,226}}</string>
                <key>sourceSize</key>
                <string>{163,226}</string>
            </dict>
            <key>dubi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1610},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>egui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1393},{164,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,229}}</string>
                <key>sourceSize</key>
                <string>{164,229}</string>
            </dict>
            <key>eju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>guibing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1841},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>guijiangjun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1381},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>huhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,925},{163,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>hujinggongbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,231},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>hundun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1147},{159,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,226}}</string>
                <key>sourceSize</key>
                <string>{159,226}</string>
            </dict>
            <key>jiangshigongbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,918},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>juemugui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,689},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>jushou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1612},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>kaiyang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,931},{165,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>sourceSize</key>
                <string>{165,229}</string>
            </dict>
            <key>leixi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1152},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>lingjiaoshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1383},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>luwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1613},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>mamian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,460},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>maoguai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>maoyao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,464},{165,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,228}}</string>
                <key>sourceSize</key>
                <string>{165,228}</string>
            </dict>
            <key>miemengniao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,231},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>mingshe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1148},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>moshizhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,923},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>moyuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1154},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>niutou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>pingpeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1384},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>qiangliang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,919},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>qilin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{165,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,231}}</string>
                <key>sourceSize</key>
                <string>{165,231}</string>
            </dict>
            <key>qinchong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,694},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>qinglong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{164,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,231}}</string>
                <key>sourceSize</key>
                <string>{164,231}</string>
            </dict>
            <key>qiongqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,459},{159,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,226}}</string>
                <key>sourceSize</key>
                <string>{159,226}</string>
            </dict>
            <key>shangao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,925},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>shanmaojing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1155},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>shihuoyao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,690},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>shishigui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,461},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>shiyao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>shuangtouguai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,232},{163,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,227}}</string>
                <key>sourceSize</key>
                <string>{163,227}</string>
            </dict>
            <key>shuigui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1624},{164,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,229}}</string>
                <key>sourceSize</key>
                <string>{164,229}</string>
            </dict>
            <key>taotie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{159,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,226}}</string>
                <key>sourceSize</key>
                <string>{159,226}</string>
            </dict>
            <key>taowu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{159,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,226}}</string>
                <key>sourceSize</key>
                <string>{159,226}</string>
            </dict>
            <key>tiangou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,232},{163,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,228}}</string>
                <key>sourceSize</key>
                <string>{163,228}</string>
            </dict>
            <key>tianji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,695},{165,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,228}}</string>
                <key>sourceSize</key>
                <string>{165,228}</string>
            </dict>
            <key>tianquan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,233},{165,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>sourceSize</key>
                <string>{165,229}</string>
            </dict>
            <key>tianxuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{165,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>sourceSize</key>
                <string>{165,229}</string>
            </dict>
            <key>wuluo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>xiejian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>xiejing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>xingtian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,689},{163,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,226}}</string>
                <key>sourceSize</key>
                <string>{163,226}</string>
            </dict>
            <key>xuanwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,231}}</string>
                <key>sourceSize</key>
                <string>{165,231}</string>
            </dict>
            <key>yanhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1393},{164,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,229}}</string>
                <key>sourceSize</key>
                <string>{164,229}</string>
            </dict>
            <key>yanwei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,233},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>yaoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,464},{165,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>sourceSize</key>
                <string>{165,229}</string>
            </dict>
            <key>yingguai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{166,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,229}}</string>
                <key>sourceSize</key>
                <string>{166,229}</string>
            </dict>
            <key>yingxiong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1854},{165,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,228}}</string>
                <key>sourceSize</key>
                <string>{165,228}</string>
            </dict>
            <key>yuanguai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1624},{165,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,228}}</string>
                <key>sourceSize</key>
                <string>{165,228}</string>
            </dict>
            <key>yuheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,700},{165,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,229}}</string>
                <key>sourceSize</key>
                <string>{165,229}</string>
            </dict>
            <key>zhanxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1855},{165,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,228}}</string>
                <key>sourceSize</key>
                <string>{165,228}</string>
            </dict>
            <key>zhuque1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,468},{165,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,230}}</string>
                <key>sourceSize</key>
                <string>{165,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DL.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c8f9b14cd9c3b72fb3957f796b2f2a8$</string>
            <key>textureFileName</key>
            <string>DL.png</string>
        </dict>
    </dict>
</plist>
